<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Coven Character Sheet</title>
		<meta name="description" content="Online character sheet for the Coven RPG.">
		<meta name="author" content="pyrrhicPachyderm">
		
		<!--Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<!--Underscore (Required for Backbone)-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
		<!--Backbone-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone.js"></script>
		
		<link rel="stylesheet" href="css/styles.css">
		
		<script src="js/models.js"></script>
		<script src="js/views.js"></script>
	</head>
	
	<body>
		<script type="text/template" id="sheet-template">
			<header>
				<h1>Coven</h1>
				<div>
					<label for="is-tracking-experience">Experience:</label>
					<input id="is-tracking-experience"
						type="checkbox"
						<%= isTrackingExperience ? "checked": "" %>
					>
				</div>
			</header>
			
			<header class="subheader experience">
				<div>
					<label for="experience-total">Total XP:</label>
					<output id="experience-total" form="character-sheet"><%= totalExperience %></output>
				</div>
				<div>
					<label for="experience-remaining">Remaining XP:</label>
					<output id="experience-remaining" form="character-sheet"><%= remainingExperience %></output>
				</div>
				<div>
					<input type="number" id="add-experience-number"
						min="0" value="0"
					></input>
					<input type="button" id="add-experience-submit"
						value="Add Experience"
					></input>
				</div>
			</header>
			
			<section>
				<div class="flex vertical">
					<div class="flex">
						<div>
							<label for="character-name">Witch's name:</label>
							<input type="text" id="character-name" value="<%= name %>">
						</div>
						<div>
							<label for="age">Age:</label>
							<input type="text" id="age" value="<%= age %>">
						</div>
						<div>
							<label for="player-name">Player:</label>
							<input type="text" id="player-name" value="<%= playerName %>">
						</div>
					</div>
				</div>
			</section>
		</script>
		
		<div id="sheet-el"></div>
	</body>
</html>
