<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Coven Character Sheet</title>
		<meta name="description" content="Online character sheet for the Coven RPG.">
		<meta name="author" content="pyrrhicPachyderm">
		
		<!--jQuery-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!--Underscore (Required for Backbone)-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
		<!--Backbone-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
		<!--FileSaver-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		
		<link rel="stylesheet" href="css/styles.css">
		
		<script src="js/utilities.js"></script>
		<script src="js/stats-model.js"></script>
		<script src="js/character-model.js"></script>
		<script src="js/views.js"></script>
	</head>
	
	<body>
		<script type="text/template" id="sheet-template">
			<header>
				<h1>Coven</h1>
				
				<div>
					<!--The "file"-type input is just a dummy for JavaScript to use.-->
					<input type="file" id="load-sheet-file" accept="application/json" hidden></input>
					<input type="button" id="load-sheet" value="Load"></input>
					<input type="button" id="save-sheet" value="Save"></input>
				</div>
				
				<div class="flex thinspaced center-vertically">
					<label for="is-tracking-experience">Track Experience:</label>
					<input id="is-tracking-experience" type="checkbox"
						class="toggle"
						<%= isTrackingExperience ? "checked": "" %>
					></input>
					<label class="toggle-button" for="is-tracking-experience"></label>
				</div>
			</header>
			
			<header class="subheader experience">
				<div>
					<label for="experience-total">Total XP:</label>
					<output id="experience-total" form="character-sheet"><%= totalExperience %></output>
				</div>
				<div>
					<label for="experience-remaining">Remaining XP:</label>
					<output id="experience-remaining" form="character-sheet"><%= remainingExperience %></output>
				</div>
				<div>
					<input type="number" id="add-experience-number"
						min="0" value="0"
					></input>
					<input type="button" id="add-experience-submit"
						value="Add Experience"
					></input>
				</div>
			</header>
			
			<section>
				<div class="flex vertical">
					<div class="flex" id="name-container">
						<div>
							<label for="character-name">Witch's name:</label>
							<input type="text" id="character-name" value="<%= name %>">
						</div>
						<div>
							<label for="age">Age:</label>
							<input type="text" id="age" value="<%= age %>">
						</div>
						<div>
							<label for="player-name">Player:</label>
							<input type="text" id="player-name" value="<%= playerName %>">
						</div>
					</div>
					<div class="flex attribute" id="attributes-container">
						<div class="flex thinspaced">
							<div class="flex vertical">
								<label class="attribute">Might</label>
								<label class="attribute">Grace</label>
							</div>
							<div class="flex vertical">
								<div class="attribute-dots" id="attribute-might"></div>
								<div class="attribute-dots" id="attribute-grace"></div>
							</div>
						</div>
						<div class="flex thinspaced">
							<div class="flex vertical">
								<label class="attribute">Ken</label>
								<label class="attribute">Wit</label>
							</div>
							<div class="flex vertical">
								<div class="attribute-dots" id="attribute-ken"></div>
								<div class="attribute-dots" id="attribute-wit"></div>
							</div>
						</div>
						<div class="flex thinspaced">
							<div class="flex vertical">
								<label class="attribute">Will</label>
								<label class="attribute">Heed</label>
							</div>
							<div class="flex vertical">
								<div class="attribute-dots" id="attribute-will"></div>
								<div class="attribute-dots" id="attribute-heed"></div>
							</div>
						</div>
						<div class="flex thinspaced">
							<div class="flex vertical">
								<label class="attribute">Charm</label>
								<label class="attribute">Presence</label>
							</div>
							<div class="flex vertical">
								<div class="attribute-dots" id="attribute-charm"></div>
								<div class="attribute-dots" id="attribute-presence"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</script>
		
		<div id="sheet-el"></div>
	</body>
</html>
